@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.welcome {
    background-color: rgb(229, 229, 229);
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 130px;
    margin-top: -8px;
}

.right{
    float: right;
}

.left{
    float: left;
}

body {
    font-family: 'GmarketSansMedium', serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    background: url('../img/블리자드 배경.jpg');
    overflow-x: hidden;
    overflow-y: auto;
    background-size: cover;
}

/* 서브 Top-nav */
/* .primary-navigation {
    display: none;
    width: 170px;
    height: 50px;
    position: fixed;
    top: -4px;
    left: -300px;
    background-color: #37475A;
    border-radius: 7px;
} */


/* @media screen and (max-width: 576px){
    .primary-navigation {
        display: none;
        width: 170px;
        height: 50px;
        position: fixed;
        top: -4px;
        left: -300px;
        background-color: #37475A;
        border-radius: 7px;
        border: 1px solid lightsalmon;
    }

    nav.primary-navigation{
        margin: 0 auto;
    }
    
} */

/* nav.primary-navigation {
    margin: 0;
    padding: 0;
    margin: 120px auto 0 auto;
    /* padding: 120px 0 0 0; 
    text-align: center;
    font-size: 16px;
} */

/* nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

nav.primary-navigation li a {
    color: white;
    font-weight: bold;
}

nav.primary-navigation li a:hover {
    color: #3ca0e7;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    /* background: #f5f5f5;
    background-color: #303e4ecb;
    border-radius: 5px;
    border: 0.75px solid black; 
} */

/* nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #42566d;
} */

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

/* nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
} */

/* a {
    text-decoration: none;
} */

/* a:hover {
    color: #3ca0e7;
} */

/* ul li ul li a {
    transition: all 0.5s ease;
} */

.drop-ul2 {
    /* position: absolute; */
    top: -20px;
    margin-left: 250px;
}

.drop-ul2:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

.header {
    position: fixed;
    left: 50%;
    top: 20px;
    z-index: 9999
}

/* 메인 메뉴바 */

.logoImg {
    width: 150px;
    height: 50px;
    float: left;
    margin: 3px 0 0 20px;
}

.top-nav {
    display: block;
    width: 1300px;
    background-color: #37475A;
    border-radius: 20px;
    height: 60px;
    margin-top: -17px;
}

.top-nav-ul {
    height: 100%;
    margin-left: 0px;
    top: 10px;
    /*    border: 1px solid purple; */
}

.top-nav-li {
    width: 140px;
    list-style: none;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
    /* border: 1px solid red; */
    height: 60%;
    line-height: 35px;
    box-sizing: border-box;
    border-radius: 11px;
    font-size: 20px;
    font-weight: 700;
}

.top-nav-li:hover {
    background-color: #98969b;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.top-nav-li a {
    text-decoration: none;
    display: block;
    color: white;
}

/*drop 버튼 다운 관련 css*/
.top-nav-ul:after {
    display: block;
    content: '';
    clear: both;
}

.drop-top-nav-li {
    width: 100px;
    list-style: none;
    float: left;
    margin-left: 73px;
    margin-top: 10px;
    text-align: center;
    /* border: 1px solid red; */
    height: 60%;
    border-radius: 11px;
    line-height: 35px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}

.drop-top-nav-li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /*            background-color: #303841;*/
}

.drop-top-nav-li a {
    text-decoration: none;
    display: block;
    color: white;
    height: 40px;
    line-height: 40px;
}

.top-nav-ul>li:hover .drop-ul {
    display: block;
}

.top-nav-ul .drop-ul {
    display: none;
    position: absolute;
    text-align: center;
    list-style: none;
    border-radius: 11px;
    left: 84.9%;
    top: 46.5px;
    width: 100px;
    height: 100px;
    right: 30%;
}

.imgicon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
}

.top-nav-ul .drop-ul a {
    display: block;
    color: #fff;
    background-color: #303841;
    border-radius: 11px;

}

.top-nav-ul .drop-ul a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* footer css */
.footer {
    margin-top: 200px;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #0d1114;
}

.footer-text {
    /* border: 1px solid purple; */
    text-align: center;
    width: 30%;
    height: 100%;
    padding: 9px;
}

.footers {
    width: 20%;
    height: 100%;
}

.footer-cs {
    /* border: 1px solid green; */
    text-align: center;
}

.ours {
    text-align: center;
    /* border: 1px solid blue; */
}
